# PHYTHON

_______________

#### üçÅ VARIABLES : DATA IS STORED IN VARIABLES

- A variable in programming is like a labeled container that stores data you want to use or manipulate later.

- variable is case sensitive

#### üçÇ Declare a Variable

In [ ]:
x = 25          # 25 is Integer

In [ ]:
y ='name'       # name is string
z = "phython"   # string is added in either single quote or double quote

In [ ]:
a = 33.6       # 33.6 is float

____________

#### üçÇ PRINT FUNCTION - print()

- print() FUNCTION IS USED TO GET THE OUTPUT

In [5]:
x = 88
print(x)

88

___________

#### üçÇ TYPE FUNCTION - type()

- The type() function in Python is used to determine the type of an object.

In [78]:
type(x)

int

__________________

### üçí DATA TYPES

                1. Numeric Data Types : Integer, Float
                
                2. String
                
                3. List
                
                4. Tuple
                
                5. Dictionaries
                
                6. Set
                
                7. Boolean Data types

List, Tuple, Dictonaries, Set stores a colection of vales(or group of vales).

_____________________

### üçí Data Types can be Categorized to:

                1. Mutable or
   
                2. Inmutable Data Types

üüß  Mutable data types can be altered after creation while inmutable cannot be changed.

                üîª Immutable data types includes : Integer, Float , String and Tuple.

                üîª Mutable data types includes : List and Dictionary 

                 üîª Partially Mutable : Set

_______________________

#### üçí CONVERTING DATA TYPES

#### ‚òòÔ∏è Converting Integer to Float

In [7]:
a = 5     # 5 is Integer
b = float(a)
print(type(b))

<class 'float'>

### ‚òòÔ∏è Converting Float to Integer

In [8]:
c = int(b)
print(type(c))

<class 'int'>

### ‚òòÔ∏è Converting Integer to String

In [9]:
d = str(c)
print(d)
print(type(d))

5
<class 'str'>

_____________

### üçí INPUT FUNCTION

In [10]:
num = input("Enter a number: ")        # Promt to enter a number into a variables

Enter a number:  88

In [11]:
print(num)                             # output and data type 
print(type(num))

88
<class 'str'>

_______________

#### üçÇ MATHEMATICAL OPERATION

#### ‚òòÔ∏è ADDITION

In [13]:
print(11+45)                 # method1

56

In [14]:
num1 = 22                    # method2
num2 = 67
total = num1 + num2
print(total)

89

_______________

### üå± Exercise 1

_____________

### ‚öúÔ∏è 1. String Concatenation:
- Write a Python program that takes two strings i.e string 1 ‚ÄúHello ‚Äù, string 2 get name as input from the user and concatenates them together. 

                               Display the concatenated string as the output.

- Sample Output:

                             Enter your Name: Zara

                             Hello Zara

In [140]:
string1 = "Hello "         # string1
string2 = "Zara"           # string2
                     
s = (string1 + string2)   # concatenation of string
print(s)

Hello Zara

_______________

### üå± Excercise 2

2 . Now concatenate string 3 ‚Äú, welcome to Python programming‚Äù to the existing string and display the output string.
    
- Sample Output:
    
       Hello Zara, welcome to Python programming

srting3 = "Hello Zara, "
string4 = "welcome to Python programming"

print(srting3 + string4)

_________________

___________

### üî¥ STRING CONVERSION

#### üî∞ 1. CAPITALIZE FUNCTION

SYNTAX : .capitalize()

Capitalize first letter in a word .

In [53]:
var = 'phython'

c = var.capitalize()
print(c)

Phython

________________

#### üî∞ 2 . LOWER FUNCTION

SYNTAX : .lower()

converts to lower case

In [54]:
var = 'PHYTHON'

c = var.lower()
print(c)

phython

_______________

#### üî∞ 3. UPPER FUNCTION

SYNTAX : .upper()

Converts all words to upper case

In [58]:
var = 'phython'
c = var.upper()
print(c)

PHYTHON

#### üî∞ TITLE FUNCTION

SYNTAX : .title()

Capitalize all the first letter in a sentance

In [57]:
print('welcome to Python programming'.title())

Welcome To Python Programming

__________

#### üî∞ SWAPCASE FUNCTION

SYNTAX : .swapcase()

Swaps the letter cases

In [60]:
print('welcome to Python programming'.swapcase())

WELCOME TO pYTHON PROGRAMMING

___________

#### üî∞ COUNT FUNCTION

SYNTAX : .count()

It is case sensitive.

In [64]:
print('phython'.count('h'))      # count is case sensitive (upper and lower case)

2

In [65]:
text ='Eagle Eyes'            # Indexing stats from 0 and even space is considered as a charecter, phython indexing checks the ending index till 6 not 7
print(text.count('e', 2, 7))  # e between the index 2 and 7, string charecter should be in quotes

1

________________

#### üî∞ CONVERT TO STRING WITH FORMATTING

- You can also use f-strings or .format() for cleaner conversion:

In [11]:
name = "Sara"
score = 95

print(f"{name} scored {score} points.")  # Output: Sara scored 95 points.

Sara scored 95 points.

______________

#### üî∞ CONVERTING LIST TO STRING

In [19]:
my_list = [1, 2, 3]


str_list = str(my_list)

print(str_list)

[1, 2, 3]

______________________

#### üî∞ DICTIONARY TO STRING

In [18]:
my_dict = {'name': 'Ali', 'age': 30}


str_dict = str(my_dict)

print(str_dict)

{'name': 'Ali', 'age': 30}

_________________

#### üî∞ JOINING STRINGS FROM LIST

- If you have a list of strings and want to combine them:

In [17]:
words = ['Hello', 'world', '!']

sentence = ' '.join(words)
print(sentence)

Hello world !

____________

#### üî∞ FORMATING RESULT TO ROUND FLOAT TO 2 DECIMAL POINTS

In [12]:
raw_number = 3.1415926535

formatted = f"{raw_number:.2f}"  
print(formatted)

3.14

______________________

### üî¥ STRING COMPARISION FUNCTION

#### ‚≠ê islower()

In [71]:
text ='Eagle Eyes' 

print(text.islower())   # returns true if all charecters are lower case else false

False

___________________

#### ‚≠ê isupper()

In [72]:
text ='Eagle Eyes' 

print(text.isupper())   # returns true if all charecters are upper case

False

__________________

#### ‚≠ê isalpha()

In [73]:
text ='Eagle Eyes' 

print(text.isalpha())   # returns true if all the charecters are alphabets
                        # also if there is space output will be false

False

______________________

#### ‚≠ê isdigit()

In [77]:
num ='2345'

print(num.isdigit())  # checks for digit , comma and space will returns false

True

______________

## ‚öúÔ∏è EXERCISE

Now concatenate string 3 ‚Äú, welcome to Python programming‚Äù to the existing string and display the output string.

#### üí† 2. String Slicing and Indexing:
Write a Python program using the above concatenated string as input and performs the following tasks:

a. Print the first character of the string.
    
b. Print the last character of the string.
    
c. Print the first 5 characters of the string.
    
d. Print the last 11 characters of the string.
    
e. Print the string in reverse.

f. Use slicing and print the word ‚ÄúPython‚Äù from the existing string.

In [92]:
text = 'Hello Zara, welcome to Python programming'
first_charecter = text[0]

#Print the first character of the string.
print(f'The First Character : {first_charecter}')

The First Character : H

In [94]:
# Print the last character of the string.

last_charecter = text[-1]
print(f'Last Charecter : {last_charecter}')

Last Charecter : g

In [95]:
# Print the first 5 characters of the string.

first_5_charecters = text[0:6]

print(f'First 5 Charecters : {first_5_charecters}')

First 5 Charecters : Hello

In [106]:
# Print the last 11 characters of the string.

last_11_charecters = text[29:41]

print(f'Last 11 charecters : {last_11_charecters}')

Last 11 charecters :  programming

In [108]:
# Print the string in reverse.

# To reverse the string, we use slicing with a step of -1.
# The syntax [start:end:step] is used here.
# Omitting the start and end indices means we'll take the entire string.
# A step of -1 tells Python to go from the end of the string to the beginning.
reversed_sentence = text[::-1]

print(f'String in reverse : {reversed_sentence} ')

String in reverse : gnimmargorp nohtyP ot emoclew ,araZ olleH

In [111]:
#  Use slicing and print the word ‚ÄúPython‚Äù from the existing string.

slicing = text[23:30]

print(f'print Python from the existing string : {slicing}')

print Python from the existing string : Python

__________

## üí†  3. String Methods:

Write a Python program that takes a string, strM = ‚ÄúPython beginner tutorial‚Äù and perform the following tasks:

        a. Convert the sentence to uppercase.

        b. Convert the sentence to lowercase.

        c. Use Capitalize and return the sentence to the original input form.

        d. Count the total number of occurrences of character ‚Äòt‚Äô in the string.

        e. Replace all occurrences of ‚ÄúPython‚Äù with ‚ÄúMachine Learning‚Äù in the input string strM = ‚ÄúPython beginner tutorial‚Äù

In [114]:
strM = 'Python beginner tutorial'

####  üî∞ Convert the sentence to uppercase.

In [117]:
u = strM.upper()

print(f'sentence to uppercase : {u}')

sentence to uppercase : PYTHON BEGINNER TUTORIAL

#### üî∞ Convert the sentence to lowercase.

In [118]:
l = strM.lower()

print(f'sentence yo lower case : {l}')

sentence yo lower case : python beginner tutorial

#### üî∞ Use Capitalize and return the sentence to the original input form.

In [122]:
c = strM.upper()

print(f'sentence to uppercase : {c}')

p = strM.capitalize()

print(f'sentence to normal : {p}')

sentence to uppercase : PYTHON BEGINNER TUTORIAL
sentence to normal : Python beginner tutorial

#### üî∞ Count the total number of occurrences of character ‚Äòt‚Äô in the string.

In [120]:
t = strM.count('t')

print(f'Occarence of t in sentence : {t}')

Occarence of t in sentence : 3

#### üî∞ Replace all occurrences of ‚ÄúPython‚Äù with ‚ÄúMachine Learning‚Äù in the input string.

* strM = ‚ÄúPython beginner tutorial‚Äù

In [8]:
strM = 'Python beginner tutorial'

strM = strM.replace('Python', 'Machine Language')

print(strM)

Machine Language beginner tutorial

________________

### üî¥ STRING CLEANING TECHNIQUE

_________________

#### üî∞ REMOVING LEADING AND TRALLING SPACES

In [20]:
text = "   Hello World!   "

cleaned = text.strip()
print(cleaned)

Hello World!

____________

#### üî∞  REMOVING SPECIFIC CHARECTERS

In [24]:
text = "Hello, World!"

cleaned = text.replace(",", "").replace("!", "")
print(cleaned)

Hello World

______________________________

#### üî∞ REMOVE DIGITS or NON-ALPHABETIC CHARECTERS

In [23]:
import re
# Using regular expressions

text = "Python123!!"

cleaned = re.sub(r'[^A-Za-z ]+', '', text)
print(cleaned)

Python

______________

#### üî∞ NORMALIZE WHITESPACE

In [21]:
text = "Python     is   awesome"

cleaned = ' '.join(text.split())
print(cleaned)

Python is awesome

_______________

#### üß† Bonus: Combine All in a Function

In [25]:
def clean_string(s):
    import re
    s = s.strip()
    s = re.sub(r'[^A-Za-z ]+', '', s)
    s = ' '.join(s.split())
    return s.lower()

text = "   Python123!! is   GREAT   "
print(clean_string(text))

python is great

_________________