## ‚ö´ TUPLE

üîª Tuple are denoted in paranthesis .ie()

üîª tuples are sequenticial data types but Inmutable.

üîª Tuple can include multiple data types

## CREATING A TUPLE

In [1]:
TUP1 = ("phython", 2, 6)

print(TUP1)
type(TUP1)

('phython', 2, 6)

tuple

 ## More than one value seperated by comma is considered as tuple

In [4]:
tup3 = "a", "b", "c", "d"  

type(tup3)

tuple

# CREATING EMPTY TUPLE

In [3]:
ages =()

type(ages)

tuple

#### CREATING TUPLE WITH SINGLE VALUE

In [5]:
tup = ("phython",)
# CREATING TUPLE WITH SINGLE VALUE - SHOULD HAVE A COMMA AT THE END - WITHOUT COMMA IT WILL BE CONSIDERED AS STRING OR INTEGER DEPENDING ON VALUE

print(tup)
type(tup)

('phython',)

tuple

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------------------------------

## INDEXING OR  EXTRACTING VALUES

In [6]:
fruits = ('apple', 'orange', 'grapes', 'banana')    # indexing of value starts from 0

In [7]:
# To access 'apple' from fruits list

fruits[0]

'apple'

In [8]:
# accessing orange and grapes 

fruits[1:3]

('orange', 'grapes')

In [17]:
# REVERSE INDEXING

fruits[-1]

'banana'

In [18]:
fruits[1::]

('orange', 'grapes', 'banana')

In [19]:
fruits[::5]

('apple',)

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------------------------------

## CONCATENATING TUPLE

1 . Tuples are inmutable, so new values cannot be added or deleted.

2 . Instead 2 tuples can be combined.

3 . '+' is used as concatenation.

In [9]:
tup1 = (223,78,88)
tup2 = ('high', 'low')

tup3 = tup1 + tup2
print(tup3)

(223, 78, 88, 'high', 'low')

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------------------------------

## REPETATION OF A VALUE IN TUPLE

#### 1 . '*' is used to repeat or multiply the same value.

In [10]:
tup = ('hello',)

tup * 4                     # repeting values

('hello', 'hello', 'hello', 'hello')

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------------------------------

## CHECKING MEMBERSHIP

 ## 'in' is used to check whether object is present is tuple.

In [11]:
tup = ('apple', 'grapes', 'orange', 23, 67)

'orange' in tup              # checking 'orange' in tup

True

## CHECKING FOR NOT PRESENCE

### 'not in' is used to check whether an object is absent in tuple.

In [12]:
tup = ('apple', 'grapes', 'orange', 23, 67)

'banana' not in tup

True

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------------------------------

## ITERATION OF TUPLE

In [15]:
tup = ('apple', 'grapes', 'orange', 23, 67)

for t in tup:
    print(t)

apple
grapes
orange
23
67

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------------------------------

## TUPLE DELETION

1 . Once created tuple values cannot be deleted.

2 . Instead the entire tuple can be deleted

In [20]:
tup = ('physics', 'chemistry', 1997, 2000)

del tup

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------------------------------

## FINDING LENGTH OF TUPLE

### 1 . len() function is used to find length of tuple.

In [21]:
tup = (12, 45, 89, 90,'lini')

len(tup)

5

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------------------------------

## EXERCISE

### Tuples (Creation, Modification and Access) :

### Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40, 50, 60):

a. Concatenate the two tuples and store it in ‚Äút_combine‚Äù

b. Repeat the elements of ‚Äút_combine‚Äù 3 times

c. Access the 3rd element from ‚Äút_combine‚Äù

d. Access the first three elements from ‚Äút_combine‚Äù

e. Access the last three elements from ‚Äút_combine‚Äù

In [22]:
tup1 = (10, 20, 30)
tup2 = (40, 50, 60)

In [23]:
# Concatenate the two tuples and store it in ‚Äút_combine‚Äù

t_combine = tup1 + tup2

t_combine

(10, 20, 30, 40, 50, 60)

In [24]:
# Repeat the elements of ‚Äút_combine‚Äù 3 times

t_combine * 3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [31]:
# Access the 3rd element from ‚Äút_combine

l3 = t_combine[2]

print(f'third element in t_combine: {l3}')

third element in t_combine: 30

In [34]:
# Access the first three elements from ‚Äút_combine‚Äù

f3 = t_combine[0:3]

print(f'first 3 element of t_combine : {f3}')

first 3 element of t_combine : (10, 20, 30)

In [32]:
# Access the last three elements from ‚Äút_combine‚Äù

l3 = t_combine[3:7]

print(f'last 3 elements of t_combine: {l3}')

last 3 elements of t_combine: (40, 50, 60)