#   LIST

#### ðŸ”» Elements are written in square brackets.

#### ðŸ”» List is a Mutable Data Type.

### CREATING LIST AND CHECKING TYPE

In [4]:
# method:1
list = [12, 45, 78, 'mango', 'kiwi']

list

[12, 45, 78, 'mango', 'kiwi']

In [5]:
type(list)

list

In [1]:
# method : 2

list = list((10, 20, 30, 40))

type(list)

list

## NESTED LIST

In [3]:
list = ['mango', 'lemon', 22, [90, 'apple', 88], 'banana']   # list inside a list is called nested list

list

['mango', 'lemon', 22, [90, 'apple', 88], 'banana']

In [4]:
type(list)

list

## EXERCISE 1

## List (Creation, Modification and Access):

### 1. List Creation:

### a. Create a list named age_list with five integer elements. For eg., [24, 25, 26, 27, 28]

In [19]:
age = [24, 25, 26, 27, 28]
type(age)

list

In [21]:
### b. Create a list named name_list with five string elements.

name_list = ['tom', 'jerry', 'mickey', 'max', 'donald']
name_list

['tom', 'jerry', 'mickey', 'max', 'donald']

--------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
----------------------------------------------------------------------------------------------------------

## INDEXING : ACCESING ELEMENTS FROM LIST

In [14]:
list = ['mango', 'lemon', 22, [90, 'apple', 88], 'banana']

In [5]:
list[0]    # extracting first element from list

'mango'

In [13]:
list[3:5]      # extracts elements fron 3rd till 4 th

[[90, 'apple', 88], 'banana']

In [14]:
list[-1]         # reverse indexing , elements from end

'banana'

In [16]:
list[-3:-1]     # reverse indexing

[22, [90, 'apple', 88]]

In [17]:
list[::2]       # extract the values from begning tii 2nd index

['mango', 22, 'banana']

In [18]:
list[1::]       # exracts elements till the end of the list

['lemon', 22, [90, 'apple', 88], 'banana']

In [22]:
list[1:5:2]      # extracts elements by 2 count

['lemon', [90, 'apple', 88]]

In [12]:
list[3][1]      # extracting values from nested list

'apple'

In [15]:
list[3].index(88)  # to find the index number of element within the nested list

2

## Finding index number of an element

In [4]:
list.index('banana')          # same method is used in tuple

4

--------------------------------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------------------------------

## EXERCISE 2

## Accessing List Elements:

In [2]:
age = [24, 25, 26, 27, 28]
name_list = ['tom', 'jerry', 'mickey', 'max', 'donald']

In [24]:
# a. Print the first element of name_list.

name_list[0]

'tom'

In [25]:
# b. Print the last element of name_list.

name_list[-1]

'donald'

In [27]:
# c. Print the elements from index 2 to index 4 in name_list.

name_list[2:5]

['mickey', 'max', 'donald']

In [4]:
# d. Print the elements of name_list in reverse order.

name_list[::-1]

['donald', 'max', 'mickey', 'jerry', 'tom']

--------------------------------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------------------------------

## CONCATENATION OF LIST

In [17]:
one = ['apple', 'orange', 'lemon']
two = [22, 34, 56, 76]

In [17]:
one + two        # compaining 2 or more lists

['apple', 'orange', 'lemon', 22, 34, 56, 76]

--------------------------------------------------------------------------------------------------------------------------------------------------------

## REPEATING A LIST

In [19]:
one * 4

['apple',
 'orange',
 'lemon',
 'apple',
 'orange',
 'lemon',
 'apple',
 'orange',
 'lemon',
 'apple',
 'orange',
 'lemon']

--------------------------------------------------------------------------------------------------------------------------------------------------------

## MEMBERSHIP IN A LIST (using 'in' and 'not in')

In [20]:
'apple' in one

True

In [22]:
'APPLE' not in one

True

--------------------------------------------------------------------------------------------------------------------------------------------------------

## SORTING VALUES

In [1]:
one = ['apple', 'orange', 'lemon']
two = [22, 34, 56, 76]

In [ ]:
.sort()                          # sorts in assending order

In [2]:
two.sort()

In [ ]:
two.sort(reverse=True)          # sorts in descending order

--------------------------------------------------------------------------------------------------------------------------------------------------------

## len() FUNCTION    - FINDS THE LENGTH OF LIST

In [23]:
len(one)              # used to find length of list

3

--------------------------------------------------------------------------------------------------------------------------------------------------------

## min() FUNCTION  - FINDS THE SMALLEST ELEMENT IN THE LIST

In [25]:
min(one)

'apple'

--------------------------------------------------------------------------------------------------------------------------------------------------------

## max() FUNCTION   -FINDS THE GREATEST ELEMENT IN THE LIST

In [27]:
max(one)

'orange'

--------------------------------------------------------------------------------------------------------------------------------------------------------

## .count() METHOD  - FINDS HOW MANY TIMES AN ELEMENT HAD OCCURED IN A LIST

In [28]:
one.count('apple')

1

--------------------------------------------------------------------------------------------------------------------------------------------------------

## REPLACING VALUES OF LIST

In [2]:
one = ['apple', 'orange', 'lemon']

one[1] = 'kiwi'
one

['apple', 'kiwi', 'lemon']

--------------------------------------------------------------------------------------------------------------------------------------------------------

## DELETING A VALUE

## 1. del STATEMENT

In [12]:
tup = ['tom', 'jerry', 12, 'kiwi', 89, 100]
tup

['tom', 'jerry', 12, 'kiwi', 89, 100]

In [13]:
del tup[1]       # deleting value against the index mentioned

In [14]:
tup

['tom', 12, 'kiwi', 89, 100]

## 2. remove() METHOD

In [15]:
tup

['tom', 12, 'kiwi', 89, 100]

In [16]:
tup.remove('kiwi')

In [17]:
tup

['tom', 12, 89, 100]

--------------------------------------------------------------------------------------------------------------------------------------------------------

## ADDING A NEW VALUE

## 1. .append() METHOD - ADD VALUES TO THE END OF LIST

In [18]:
fruits = ['banana', 'mangoes', 'grapes', 'water melon', 'orange']
fruits

['banana', 'mangoes', 'grapes', 'water melon', 'orange']

In [19]:
fruits.append('strawberry')

In [20]:
fruits

['banana', 'mangoes', 'grapes', 'water melon', 'orange', 'strawberry']

## 2. .insert() METHOD

### CAN INSERT VALUES INTO SPECIFIC DESIRED POSITION

In [21]:
fruits

['banana', 'mangoes', 'grapes', 'water melon', 'orange', 'strawberry']

In [22]:
fruits.insert(0, 'blueberry')

In [23]:
fruits

['blueberry',
 'banana',
 'mangoes',
 'grapes',
 'water melon',
 'orange',
 'strawberry']

--------------------------------------------------------------------------------------------------------------------------------------------------------

## extend() METHOD

### COMBINES TWO LISTS

In [24]:
list1 = ['one', 'two', 'three', 'four']
list2 = [100, 200, 300, 400]

In [25]:
list1.extend(list2)

In [30]:
 list1                                # combines list1 to list2, its a permenent method

['one', 'two', 'three', 'four', 100, 200, 300, 400]

In [28]:
list2

[100, 200, 300, 400]

--------------------------------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------------------------------

## EXERCISE 3 List Operations / Modifications:

In [2]:
age = [24, 25, 26, 27, 28]
name_list = ['tom', 'jerry', 'mickey', 'max', 'donald']

In [3]:
# a. Append the string "Yazhini" to name_list.

name_list.append("Yazhini")

name_list

['tom', 'jerry', 'mickey', 'max', 'donald', 'Yazhini']

In [4]:
# b. Insert the element 30 at index 2 in age_list.

name_list.insert(2, 30)
name_list

['tom', 'jerry', 30, 'mickey', 'max', 'donald', 'Yazhini']

In [5]:
# c. Remove the string "Yazhini" from name_list.
name_list.remove("Yazhini")
name_list

['tom', 'jerry', 30, 'mickey', 'max', 'donald']

In [6]:
# d. Pop the last element from age_list.

age.pop()

28

In [7]:
# e. Extend the age_list with additional ages [29, 30, 26].

age1 =  [29, 30, 26]

age.extend(age1)
age

[24, 25, 26, 27, 29, 30, 26]

In [8]:
# f. Sort age_list in descending order.

age.sort(reverse=True)
age

[30, 29, 27, 26, 26, 25, 24]

In [9]:
# g. Find Max age, Min age and sum of all ages from age_list.

age

[30, 29, 27, 26, 26, 25, 24]

In [10]:
# minimum age

min(age)

24

In [11]:
# max age

max(age)

30

In [16]:
# sum of ages

sum(age)

187