# DICTIONARY

* Dictionary has key and value pair.

* Key value pair is seperated by colon {key:value}

* key:value pair are seperated by comma and enclosed in curly brackets.  {k1:v1, k2:v2, k3:v3}

* An empty dictionary without any items is written with just two curly braces, {}.

* Keys are unique within a dictionary while values may not be.

* The values of a dictionary can be of any type.

* KEYS are immutable. So, it can be integer, float or tuple.

## üçì CREATING DICTIONARY

In [4]:
dict = { 1:'one', 2:'two', 3:'three', 4:'four', 5:'five' }
type(dict)

dict

______________________________________________________________________________________________________________________________________________________

## üçì EXTRACTING ELEMENTS FROM DICTONARY

In [5]:
dict = { 1:'one', 2:'two', 3:'three', 4:'four', 5:'five' }

In [6]:
dict[2]          # to extract, dictionary name along with key value in square brackets

'two'

______________________________________________________________________________________________________________________________________________________

## üçì UPDATING NEW VALUE

In [7]:
dict = { 1:'one', 2:'two', 3:'three', 4:'four', 5:'five' }

In [10]:
dict[1] = 1          # updating one key with 1

In [9]:
dict

{1: 1, 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

_______________________________________________________________________________________________________________________________________________________

## üçì ADDING NEW VALUE

In [11]:
dict = { 1:'one', 2:'two', 3:'three', 4:'four', 5:'five' }

In [12]:
dict['six'] = 6      # dictionary name along with key and the value to be updated

In [13]:
dict

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 'six': 6}

_______________________________________________________________________________________________________________________________________________________

## üçì DELETING VALUES WITH del STATEMENT

In [14]:
dict = { 1:'one', 2:'two', 3:'three', 4:'four', 5:'five' }

In [15]:
del dict[1]

In [16]:
dict

{2: 'two', 3: 'three', 4: 'four', 5: 'five'}

## DELETE THE ENTIRE DICTIONARY

In [17]:
dict1 = {'one': 'lion', 'two':'tiger'}

In [18]:
del dict1      # delete statement along with dictionary name

_______________________________________________________________________________________________________________________________________________________

## üçì  DICTIONARY CAN INCLUDE MULTIPLE DATA TYPES WITHIN

In [19]:
dict2 ={ 'one':[10,20,30], 'two':{'stud1':'lian', 'stud2':'lilly'}, 'three':100}
dict2

{'one': [10, 20, 30], 'two': {'stud1': 'lian', 'stud2': 'lilly'}, 'three': 100}

_______________________________________________________________________________________________________________________________________________________

## üçí EXCERCISE

### Dictionary (Creation, Modification and Access):

In [21]:
# a. Create a dictionary named student_marks that maps the names of five students to their marks (use scale of from 0 to 100).

student_marks = { 'stud1':56, 'stud2':77, 'stud3':89, 'stud4':34, 'stud5':67}

In [27]:
# b. Access and print the mark of a specific student, of your choice.

print(f'Mark of Student 3: {student_marks['stud3']}')

Mark of Student 3: 89

In [28]:
# c. Add a new student "Janani" with a mark of 80 to the student_marks dictionary.

student_marks['stud6']=66
student_marks

{'stud1': 56, 'stud2': 77, 'stud3': 89, 'stud4': 34, 'stud5': 67, 'stud6': 66}

In [34]:
# d. Update the mark of any one older student to 82.

student_marks['stud1'] = 45
student_marks

{'stud1': 45, 'stud2': 77, 'stud3': 89, 'stud4': 34, 'stud5': 67, 'stud6': 66}

In [40]:
# EXTRACTING KEY IN STUDENT_MARKS

for key in student_marks.keys():
    print(key)

stud1
stud2
stud3
stud4
stud5
stud6

In [42]:
# EXTRACTING VALUES IN STUDENT_MARKS

for value in student_marks.values():
    print(value)

45
77
89
34
67
66

In [47]:
student_marks.values()

dict_values([45, 77, 89, 34, 67, 66])

In [45]:
# EXTRACTING KEY:VALUE PAIR

for key, value in student_marks.items():
    print(f'{key}:{value}')

stud1:45
stud2:77
stud3:89
stud4:34
stud5:67
stud6:66

In [46]:
student_marks.items()

dict_items([('stud1', 45), ('stud2', 77), ('stud3', 89), ('stud4', 34), ('stud5', 67), ('stud6', 66)])