## üçÅ FOR LOOP

#### ‚óºÔ∏è  It  is used for iterating elements from a group of items.

#### ‚óºÔ∏è Group of items can be:

            1. LIST

            2. TUPLE

            3. RANGE

            4. DICTIONARY 
            
            5. STRING
            
            6. SET  etc.

#### ‚óºÔ∏è Non - Iterable objects are:

             1. Integer

             2. Float

______________________________

#### üóù SYNTAX

           for variable in iterarble_object:
    
			     loop body

________________________

#### üî∞ Example: Itetrating items from a list of names.

In [2]:
names = ['Tom', 'Jerry', 'Jim', 'Jake', 'Martin', 'Elsa', 'Irene']

for name in names:
    print(name)

Tom
Jerry
Jim
Jake
Martin
Elsa
Irene

_______________________

#### üî∞ Iterating name along with its lenght

In [8]:
names = ['Tom', 'Jerry', 'Jim', 'Jake', 'Martin', 'Elsa', 'Irene']

for name in names:
    print(name, '----', len(name))

Tom ---- 3
Jerry ---- 5
Jim ---- 3
Jake ---- 4
Martin ---- 6
Elsa ---- 4
Irene ---- 5

__________________________

### üõ° RANGE

In [ ]:
üí† syntax: range(starting number, ending number, steps)

________________

#### üî∞  Iterating numbers from Range

In [14]:
ranges = range(1,11)

for i in ranges:
    print(i)

1
2
3
4
5
6
7
8
9
10

_______________________

#### üî∞ Iterating numbers from range in desending order.

In [4]:
numbers = range(10,1,-2)

for i in numbers:
    print(i)

10
8
6
4
2

_____________________________________

#### üî∞ Iterating even numbers

In [2]:
numbers = list(range(2,11,2))

for i in numbers:
    print(i)

2
4
6
8
10

________________________________

### ‚öúÔ∏è BREAK & CONTINUE STATEMENTS

### ‚úÇÔ∏è Break Statement is used to interupt and break the iteration

In [16]:
numbers = range(10)

for i in numbers:
      
     if i == 6:
        break
         
     print(i)

0
1
2
3
4
5

____________________________

### üßÆ The¬†continue¬†statement, continues with the next iteration of the loop:

In [17]:
numbers = range(10)

for i in numbers:
      
     if i == 6:
        continue
         
     print(i)

0
1
2
3
4
5
7
8
9

____________________________________

### ‚öúÔ∏è NESTED FOR LOOP

#### ‚óºÔ∏è LOOP INSIDE A LOOP

In [18]:
for i in range(2):
    print('Hello')

Hello
Hello

In [20]:
for i in range(2):
    print('Hello')

    for j in range(5):
        print('World')

Hello
World
World
World
World
World
Hello
World
World
World
World
World

______________________

#### üî∞ Example : 2

In [16]:
num1 = input('Enter a Number 1: ')
num2 = input('Enter a Number 2: ')

for i in num1:
    print(i)

    for j in num2:
        print(j)

Enter a Number 1:  5
Enter a Number 2:  6

5
6

_____________________

### ‚öúÔ∏è ENUMERATE FUNCTION

#### ‚óºÔ∏è Indexing from list and its items

In [27]:
names = ['Tom', 'Jerry', 'Jim', 'Jake', 'Martin', 'Elsa', 'Irene']

for e,n in enumerate(names):
    print(e,n)

0 Tom
1 Jerry
2 Jim
3 Jake
4 Martin
5 Elsa
6 Irene

________________________

### ‚öúÔ∏è LIST COMPREHENSION

 ‚óºÔ∏è List comprehension is a concise way to create lists in Python. 

 ‚óºÔ∏è It allows you to generate a new list by applying an expression to each item in an iterable (like a list, range, or string), optionally including a condition.

#### üìå Syntax:

[expression for item in iterable if condition]

‚óºÔ∏è expression: The value to include in the new list (can be transformed).

‚óºÔ∏è item: The variable representing each element in the iterable.

‚óºÔ∏è iterable: A sequence (like range, list, etc.).

‚óºÔ∏è condition (optional): A filter to include only certain items.

In [2]:
even_numbers = [x for x in range(10) if x % 2 == 0]

In [ ]:
fruits = ['mango', 'apple', 'grapes', 'orange', 'blueberry']

_______________________

### Multiplication Table Generator

Problem Statement:

Create a Python program that generates and prints a multiplication table (from 1 to 10) for a given number using a for loop and the range
function.

Step wise Instructions:

1. Prompt user for Input.
  
    Ask the user to enter a number for which they want to generate a multiplication table.

2. Generate the Multiplication Table: Use a for loop to iterate through the numbers 1 to 10. 

    In each iteration, calculate the product of the user's number and the current number from the loop.

3. Display the Multiplication Table:

   Print each line of the multiplication table in the format: "number x i = result".

### Sample Output:


Enter the number for which you want the multiplication table: 5

5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

5 x 10 = 50

In [11]:
number = 5

for i in range(1,11):
    result = number * i
    print(f'{number} x {i} = {result}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


____________________________________________________________________________________________

In [14]:
n = int(input('Enter a Number: '))

for i in range(1,11):
        result = n*i
        print(f'{n} x {i} = {n*i}')

Enter a Number:  2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

__________________________________________________________________________________